* {
    margin:0;
    padding:0;
    background: #F6FAFD;
    font-family: Aria;
    
}
/* Block 1 */
.topnav {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 1250px;
    padding-top: 50px;
    padding-left:240px;
}

.logo-circle {
    padding-right: 10px;
}

.logo-oval {
    padding-right: 120px;
}

.search-option {    
    text-decoration: none;
    margin-right: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #4B5D68;
}
.button-request {
    width: 210px;
    height: 60px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0,005em;
    background-color:#ffffff;
    border:none;
    box-shadow: 0px 5px 5px 0px #4B5D68 ;
    text-align: center;
    margin-left:415px;
}
i {
    border:none;
    background: no-repeat;
    padding-left: 10px;
}

.header-text {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 120px;
    margin-left:240px;
}
.header-title {
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 0em;
    color: #212353;
    border-radius: nullpx;
    padding-bottom: 50px;
}
.header-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    border-radius: nullpx;
    color: #4B5D68;
    padding-bottom: 50px;
}

.header-button{
    background: #9C69E2;
    border-radius: 50px;
    padding: 12px 37px 12px 37px;
    color: #FFFFFF;
    width: 170px;
    height: 60px;
    font-size: 18px;
    font-weight: 800;
    line-height: 29px;
    border: none;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.imagepeople {
   padding-top:160px;
   background: none;
}


/* Block 2 */
.main-first {
    display: flex;
    flex-direction: row;
    margin-top:100px;
    width: 1100px;
    height: 560px;
    margin-left: 240px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.imagefly {
    width: 477px;
    height: 504px;
    background: none;
}
.main-first-text {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center ;
    background: none;
    margin-left: 60px;
}
.main-first-title {
    width: 475;
    height: 100px;
    background: repeat;
    color: #212353;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 40px;
}
.main-first-description{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height :29px;
    background: none;
}
/* Block 3 */
.main-second-text {
    display:flex;
    flex-direction: column;
    align-items:center;
    width:585px;
    justify-content:flex-start;
    margin-top: 150px;
    margin-left: 520px;
}
.main-second-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #212353;
    padding-bottom:50px;
}
.main-second-description {
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}

.main-second-search-data {
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    margin-top:150px;
    margin-left:240px;
    
}

.main-second-data-text{
    display: flex;
    flex-direction: column;
    padding-left:30px;
    padding-right:90px;
}

.main-second-data-title {
    font-weight: 400;
    font-size: 24px;
    color: #212353;
    padding-bottom: 20px;
}

.main-second-data-description {
    width :220px;
    height:160px; 
    font-weight: 400;
    font-size: 16px;
    color:#4B5D68;
    box-sizing: border-box;
    line-height: 25px;
  }
.button3-1 {
    display: flex;
    width :auto;
    height:25px; 
    font-weight: 900;
    font-size: 16px;
    color: #212353;
    border:none;
}

.main-second-access-text {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin-left: 35px;
}

.main-second-access-title {
    width :200px;
    font-weight: 400;
    font-size: 24px;
    color: #212353;
    padding-bottom:20px;
}
.main-second-access-description {
    width :220px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color:#4B5D68;
    box-sizing: border-box;
    line-height: 25px;
    padding-bottom: 40px;
  
}
.button3-2 {
    display: flex;
    width :auto;
    height:25px; 
    font-weight: 900;
    font-size: 16px;
    color: #212353;
    border:none;
}
.main-second-print {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    margin-top:130px;
    margin-left:240px; 
}
/* Block 4 */
.main-fours {
    display: flex;
    flex-direction: column;
    background: #9C69E2;
    justify-content: space-around;
    align-items: flex-start;
    width:1120px;
    height:710px;
    margin-left: 240px;
    margin-right: 100px;
    border-radius: 50px;
    margin-top: 180px;
    padding-left:100px;
    }
.main-fours-title{
    background:none;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color:#FFFFFF;
}
.main-fours-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px 0px #7732d7;
    border-radius: 20px;
    width : 950px;
    height : 300px;
    
}
.photo {
    background: none;
    padding-right: 50px;
}
.main-fours-description{
    display: flex;
    flex-direction: column;
    background: #ffffff;

}

.name {
    display: flex;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    color: #212353;
    background: #ffffff;
}
.mail {
    display: flex ;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #9C69E2;
    background: #ffffff;
    padding-top: 5px;
   
}
.aboutname {
    display: flex;
    width: 560px;
    height: 130px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
    background: #ffffff;
    padding-top: 20px;
}
.dropsll {
    display :flex;
    flex-direction: row;
    justify-content: space-around;
}
.drop1{
    background-color:#9C69E2;
    color: #F063B8;
}
.drops {
    background-color:#9C69E2;
    color:#FFFFFF;
}
.arrows{
    display:flex;
    flex-direction: row;
    margin-left:815px;
    margin-top:-100px;
}
.right{
    background-color:#9C69E2;
    color:#FFFFFF;
}
/* Block 5 */
.footer-block {
    margin-top:150px;
    margin-bottom: 90px;
    border-top: 1px solid #9C69E2;
    
}
.footer-top {
    display:flex;
    flex-direction:row;
    align-items: center;

}
.footer-title {
  display:flex;
  flex-direction: column;
  margin-top:100px;
  margin-left:240px;
  margin-right: 380px;
}
.footer-title-first {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    padding-bottom:20px;
    color: #212353;

}
.footer-title-second {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    color: #4B5D68;
}
.footer-buttuns{
    display:flex;
    flex-direction: row;
    margin-top:120px;
}
.footer-buttuns-1 {
    background:#F063B8;
    border-radius: 50px;
    padding: 12px 37px 12px 37px;
    color: #FFFFFF;
    width: 170px;
    height: 60px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 29px;
    text-align: center;
    border: none;
    margin-right:30px;
}
.footer-buttuns-2 {
    width: 210px;
    height: 60px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0,005em;
    background-color:#ffffff;
    border:none;
    box-shadow: 0px 5px 5px 0px #4B5D68 ;
}
.footer-nav {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    margin-right:275px;
}
.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start; 
    margin-left: 240px;
    margin-top: 150px;
}
.footer-logo-title{
    padding-left:10px;
    font-size: 20px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0em;
    color: #212353;
}
.footer-first-column{
    display:flex;
    flex-direction: column;
    margin-left:240px;
}
.footer-adres{
    padding-top:65px;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0,01em;
    color: #212353;
    padding-bottom: 10px;
}
.footer-info {
    padding-bottom:120px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0,01em;
    color: #212353;
}
.footer-copy {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0,01em;
    color: #212353;
}
.footer-about-column {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
}

.footer-about-title {
    margin-bottom:30px;
    font-weight: 900;
    line-height: 26px;
}
.footer-help-column {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    padding-right:200px;
 
}
.footer-social-column{
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0em;
}
.footer-social-title {
    padding-bottom:30px;
}
.coment-icon{  
    margin-left:1312px;
    margin-top: -50px;
    
}



